.types-of-ships {
    color: #d3d3d3;
    padding: 20px;
}

.ship {
    margin-bottom: 20px;
}

.ship-name {
    font-size: 1.2rem; 
    font-weight: bold;
    margin-bottom: 5px;
}

.ship-description {
    font-size: 0.9rem;
    margin: 5px 0 10px;
}

.ship-body {
    display: flex;
    margin-top: 5px;
}

.ship-square {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 3px;
}
